<h1>Show my screen</h1>

<video autoplay id="screen-view" width="50%"></video>
<button id="get-screen">Get the screen</button>
<button id="stop-screen" style="display:none">Stop the screen</button>

<ul>
  <li>
    <label for="screen">Screen</label>
    <input type="radio" name="capture" id="screen" value="screen" checked>
  </li>
  <li>
    <label for="window">Window</label>
    <input type="radio" name="capture" id="window" value="window">
  </li>
  <li>
    <label for="application">Application</label>
    <input type="radio" name="capture" id="application" value="application">
  </li>
</ul>
